<form [formGroup]="loginForm" (submit)="login()">
  <fieldset class="container">
    <legend class="text-center">Login</legend>
    <div class="form-group">
      <label>CPF</label>
      <input
        type="text"
        class="form-control"
        formControlName="cpf"
        placeholder="Informe seu CPF"
      />
      <app-mensagem-erro
        texto="O cpf é inválido"
        *ngIf="
          loginForm.get('cpf').errors?.required && loginForm.get('cpf').dirty
        "
      ></app-mensagem-erro>
      <app-mensagem-erro
        texto="O cpf deve conter 11 caracteres"
        *ngIf="
          (loginForm.get('cpf').errors?.maxlength ||
            loginForm.get('cpf').errors?.minlength) &&
          loginForm.get('cpf').dirty
        "
      ></app-mensagem-erro>
    </div>
    <div class="form-group">
      <label>Senha</label>
      <input
        type="password"
        class="form-control"
        formControlName="senha"
        placeholder="Informe sua senha"
      />
      <app-mensagem-erro
        texto="Informe uma senha"
        *ngIf="
          loginForm.get('senha').errors?.required &&
          loginForm.get('senha').dirty
        "
      ></app-mensagem-erro>
      <app-mensagem-erro
        texto="A senha deve conter no mínimo 6 caracteres"
        *ngIf="
          loginForm.get('senha').errors?.minlength &&
          loginForm.get('senha').dirty
        "
      ></app-mensagem-erro>
    </div>
    <button
      type="submit"
      [disabled]="loginForm.invalid"
      class="btn btn-success mt-3 col-12"
    >
      Login
    </button>
  </fieldset>
</form>
<div class="container mt-1">
  <p>
    Não é um usuário?
    <a [routerLink]="['/', 'inscrever-se']">Inscrever-se</a>
  </p>
</div>
